#garland {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('./images/christmas-lights.png');
	height: 36px;
	width: 100%;
	overflow: hidden;
	z-index:0;
	pointer-events: none;
}

#nums_1 {
	padding: 100px;
	pointer-events: none;
}

.garland_0 {
	background-position: 0 0;
}

.garland_1 {
	background-position: 0 -36px;
}

.garland_2 {
	background-position: 0 -72px;
}

.garland_3 {
	background-position: 0 -108px;
}

.garland-on, .garland-off {
	position: absolute;
	font-size: 16px;
	right: 10px;
	top: 40px;
	cursor: pointer;
}

.garland-on {
	color: #329C00;
	text-shadow: 0 0 7px #8DFC46;
}
